#extra assignment 2

In [1]:
for n in range(20):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for n in range(20):
    print(n,end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [8]:
list=[10,20,14,55,43,87,76]
print(list)
print("numbers of items in list:",len(list))

[10, 20, 14, 55, 43, 87, 76]
numbers of items in list: 7

In [13]:
ai=input()
for n in ai:
    print(n)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [15]:
list=["-Your Name-","-Your Age-","-Your proffession-"]
for n in list:
    print(n)

-Your Name-
-Your Age-
-Your proffession-

In [1]:
list=(1,'Welcome',2,'Hope')
print(list)

(1, 'Welcome', 2, 'Hope')

In [2]:
list1=(0,1,2,3)
list2=('PYTHON','HOPE')
tuple=(list1,list2)
print(tuple)

((0, 1, 2, 3), ('PYTHON', 'HOPE'))

In [1]:
tuple1=(0,1,2,3)
print(f"{tuple1},('python','HOPE')")

(0, 1, 2, 3),('python','HOPE')

In [18]:
list=(20,10,16,19,25,1,276,188)
for n in list:
    if(n%2==1):
        print(n,"is odd")

19 is odd
25 is odd
1 is odd

In [2]:
list=(20,10,16,19,25,1,276,188)
print(list)
for n in list:
    if(n%2==0):
        print(n,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even