In [11]:
import pandas as pd
dataset=pd.read_csv("sales_data.csv")

In [12]:
dataset

   Advertisement  Sales
0           1000   3000
1           2000   4000
2           3000   6000
3           4000   8000
4           5000  10000
5           6000  11000
6           7000  13000
7           8000  14000
8           9000  16000
9          10000  18000

In [13]:
independant=dataset[["Advertisement"]]

In [14]:
independant

   Advertisement
0           1000
1           2000
2           3000
3           4000
4           5000
5           6000
6           7000
7           8000
8           9000
9          10000

In [15]:
dependant=dataset[["Sales"]]

In [16]:
dependant

   Sales
0   3000
1   4000
2   6000
3   8000
4  10000
5  11000
6  13000
7  14000
8  16000
9  18000

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independant,dependant,test_size=0.2,random_state=0)

NameError: name 'independant' is not defined

In [16]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [22]:
weight=regressor.coef_

In [24]:
weight

array([[1.66927593]])

In [23]:
bias=regressor.intercept_

In [25]:
bias

array([1152.64187867])

In [15]:
y_pred=regressor.predict(x_test)

NameError: name 'regressor' is not defined

In [27]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [28]:
r_score

0.9988645876815729

In [12]:
import pickle
filename="final_model_slr.sav"

In [14]:
pickle.dump(regressor.open(filename,'wb'))

NameError: name 'regressor' is not defined